.card_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.influencers {
    display: flex;
    flex-direction: column;
    min-height: 100px;    
}

#search_influencers {
    width: 100%;
    background-color: #253649;
    height: 30px;
}

#influencersContent {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    box-sizing: border-box;
    background-color: #435B7C;
    padding:10px;
}

#influencersContent input, #influencersContent textarea {
    width: 100%;
    background-color: #253649;
    height: 45px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

#influencersContent textarea {
    height: 150px;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
}