main {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: #ecbf3a; */
    background-color: #253649
}

.login-page {
    /* background-color: rgb(254, 239, 195); */
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: #435B7C;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Open Sans", sans-serif;
    outline: 0;
    /* background: #f2f2f2; */
    background-color: #253649;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    color:#222;
    font-weight: bold;
}

.form input::placeholder {
    color: #435B7C;
    font-weight: bold;
}

.form button {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #ecbf3a;
    border: 1px #ecbf3a solid;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    opacity: 0.7;
}